Package: org.thebigboss.burstmode
Name: Burst Mode
Depends: mobilesubstrate, preferenceloader, firmware (>= 5.0), gsc.still-camera | gsc.front-facing-camera
Version: 1.1
Architecture: iphoneos-arm
Description: iOS 7 Burst Mode-like photo capture for iOS 5 & 6 + Enable Native Burst Mode in iOS 7 for unsupported devices
Author: PoomSmart
Section: Tweaks
Icon: file:///Library/PreferenceBundles/BurstModeSettings.bundle/BurstMode@2x.png